.bluebox {

  text-align: center;
  padding: auto;

  left: 60%;
  width: 20%;
  height: 100%;
  background-color: #0049707A;
  color: white;
  padding: 0% 5% 0% 5%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;   
}

.cpageh {
  position: absolute;
  padding: 1.5em 4.5em 1.5em 4.5em;

  /* top: 88%; */
  bottom: 0%;
  margin-left: 15%;

  background-color: white;

}

@media only screen and (max-width: 600px) {
    .bluebox {
      /* visibility: hidden; */
      font-size: 7px;
      width: 15%;
    }

    .cpageh {
      font-size: 7px;
    }
  }